@import "../../variables";

@mixin action($margin) {
  button {
    border: none !important;
    background-color: #f4f4f4;;
    margin: 0 5px;

    &:focus, &:active, &:hover {
      outline: 0 none;
      text-decoration: none;
    }

    img {
      margin-left: $margin;
      display: block;
    }
  }
}

.actions-wrapper {
  padding-top: 28px;
  padding-bottom: 10px;
  margin-bottom: 5px;

  .buttons-container {
    text-align: right;

    app-report-save {
      @include action(1px);
    }
    app-report-share {
      @include action(4px);
    }

    app-report-print {
      @include action(1px);
    }

    app-report-refresh {
      @include action(8px);
    }
  }
}

