<div class="cards-wrapper" [ngClass]="{'has-offset': hasLeftOffset}">
  <div class="card-outer" *ngFor="let card of cards">
    <div class="card" (mouseenter)="onMouseEnter(card)" (mouseleave)="onMouseLeave(card)">
      <div class="metric-info"
           [ngClass]=" {'metric-details': card.showMetricDetails,
                       'metric-details-up': (card.showMetricDetails && card.selectedPeriod.up),
                       'metric-details-down': (card.showMetricDetails && !card.selectedPeriod.up)}">
        <div class="flex-parent">
          <div *ngIf="!card.noData" [ngClass]="{'up': card.selectedPeriod.up, 'down': !card.selectedPeriod.up}"></div>
          <div>
            <p class="metric-name">{{card.name}}</p>
          </div>
        </div>
        <div>
          <p *ngIf="!card.showMetricDetails && !card.noData" class="metric-description has-overflow">
            <span class="metric-description-main">
              {{card.selectedPeriod.pct | cardPercent:true:card.selectedPeriod.up}}
            </span>
            <span class="separator">|</span>
            <span class="metric-description-secondary">
              {{card.selectedPeriod.value | cardCurrency:currencyFormatter:card.currSymbol:card.selectedPeriod.up}}
            </span>
          </p>
          <p *ngIf="card.noData" class="metric-description-secondary">
            No Data Available
          </p>
        </div>
      </div>

      <div class="details-container" *ngIf="card.showMetricDetails">
        <table class="period-info">
          <tr *ngFor="let period of card.periods"
              [ngClass]=" {'hoveredUp': period.hoveredUp,
                           'hoveredDown': period.hoveredDown,
                           'highlighted': selectedTimeFilter === period.use}"
              (mouseenter)="onPeriodEnter(period)" (mouseleave)="onPeriodLeave(period)">
            <td class="text-left">
              <span>{{period.name}}</span><span>:</span>
            </td>
            <td class="has-indicator">
              <span class="glyphicon"
                      [ngClass]="{'glyphicon-triangle-top up-sm': period.up, 'glyphicon-triangle-bottom down-sm': !period.up}">
              </span>
              <span>
                {{period.pct | cardPercent}}
              </span>
            </td>
            <td class="has-overflow">{{period.value | cardCurrency:currencyFormatter:card.currSymbol}}</td>
            <td class="text-right">
              <a (click)="seeDetails(card)">
                <span class="icon-right" [ngStyle]="{'background-image': 'url(' + cardsSpritePath + ')'}"></span>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
