@import "../../variables";

.table-wrapper {
  white-space: nowrap;
  table {
    width: auto;
    display: inline-block;
    margin-bottom: 20px;

    tr {
      &:focus {
        outline: none;
      }
      > td {
        border: none;
      }
    }
  }
  .drill-table {
    color: #6e789c;
    margin-bottom: 5px;
    td {
      text-align: left;
    }
  }
  .data-table {

    border: 1px solid #ccc;

    b {
      color: #6e789c;
    }
    .gray-header {
      background: #edeff5;
    }

    tr {
      border-bottom: 1px dashed #ccc;
    }
  }

  .mobile-drill {
    max-width: 25vw;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}
