<section class="report-data-wrapper">

  <article class="table-wrapper">
    <table style="display: table" class=" hidden-xs">
      <tr>
        <td style="width: 1%">
          <!----drill value------->
          <table class="table drill-table">

            <tr class="text-left invisible">
              <td>
                <b>1</b>
              </td>
            </tr>
            <tr class="gray-header invisible">
              <td style="text-align: center">
                <b>1</b>
              </td>
            </tr>
            <tr></tr>
            <tr *ngFor="let dr of drillData" (click)="updateData(dr.name)" role="button">
              <td>
                <b>{{dr.name.item[0].txt.val}}</b>
              </td>
            </tr>

          </table>
        </td>
        <td style="position: relative; width: 99%; ">
          <!----table with data--->
          <div style="white-space:nowrap; position: absolute; top:0; bottom: 0; left: 0; right: 0; overflow-x:auto;
          overflow-y:hidden;     border: 1px dashed #ccc; border-top:none">
            <table class="table data-table" style="border: none; display: table-cell"
                   *ngFor="let table of tableData">
              <tr class="text-left">
                <td [colSpan]="table.ctab.column[0].name.cspan">
                  <b>{{table.ctab.column[0].name.item[0].txt.val}}</b>
                </td>
              </tr>
              <tr class="gray-header">
                <td *ngFor="let td of table.ctab.column[0].nestedDimension" style="text-align: center">
                  {{td.name.item[0].txt.val}}
                </td>
              </tr>
              <tr></tr>
              <tr *ngFor="let row of table.ctab.table[0].row">
                <td *ngFor="let cell of row.cell">
                  {{ cell.item[0].txt.fmtVal || cell.item[0].txt.val }}
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>


    <!-----mobile cases----->
    <table style="display: table" class=" visible-xs" *ngFor="let table of tableData">
      <tr>
        <td style="width: 1%">
          &lt;!&ndash;&#45;&#45;drill value-&#45;&#45;&#45;&#45;&ndash;&gt;
          <table class="table drill-table">

            <tr class="text-left invisible">
              <td>
                <b>1</b>
              </td>
            </tr>
            <tr class="gray-header invisible">
              <td style="text-align: center">
                <b>1</b>
              </td>
            </tr>
            <tr>
            </tr>
            <tr *ngFor="let dr of drillData" (click)="updateData(dr.name)">
              <td>
                <b><p class="mobile-drill">{{dr.name.item[0].txt.val}}</p></b>
              </td>
            </tr>

          </table>
        </td>
        <td style="position: relative; width: 99%; ">
          &lt;!&ndash;&#45;&#45;table with data-&ndash;&gt;
          <div style="white-space:nowrap; position: absolute; top:0; bottom: 0; left: 0; right: 0; overflow-x:auto;
          overflow-y:hidden;     border: 1px dashed #ccc; border-top:none">
            <table class="table data-table" style="border: none; display: table-cell">
              <tr class="text-left">
                <td [colSpan]="table.ctab.column[0].name.cspan">
                  <b>{{table.ctab.column[0].name.item[0].txt.val}}</b>
                </td>
              </tr>
              <tr class="gray-header">
                <td *ngFor="let td of table.ctab.column[0].nestedDimension" style="text-align: center">
                  {{td.name.item[0].txt.val}}
                </td>
              </tr>
              <tr>
              </tr>
              <tr *ngFor="let row of table.ctab.table[0].row">
                <td *ngFor="let cell of row.cell">
                  {{ cell.item[0].txt.fmtVal || cell.item[0].txt.val }}
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </article>

</section>
