$breadcrumb-color: #333333;
.breadcrumb {
  margin-top: 32px;
  padding: 0;
  background-color: inherit;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;

  li + li:before {
    color: $breadcrumb-color;
    content: ">";
  }

  a {
    color: $breadcrumb-color;
    &:focus, &:active, &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

 .selected {
   font-weight: bold;
   :hover {
     cursor: auto;
   }
 }
}
.metrics-title {
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
}
