<header class="report-header">
  <div class="flex-child text-left">
    <button (click)="toggleFilter()" type="button" class="filter-toggle"
    [ngStyle]="{'background-image': 'url(' + headerSpritePath + ')'}"></button>
  </div>
  <div class="flex-child">
    <div class="logo-wrapper text-center">
      <div class="logo"
           [ngStyle]="{'background-image': 'url(' + headerSpritePath + ')'}"></div>
      <span class="logo-label hidden-xs">Multi Dimensional Dashboard</span>
    </div>
  </div>
  <div class="flex-child">
    <div class="user">
      <span class="icon-user"
            [ngStyle]="{'background-image': 'url(' + headerSpritePath + ')'}"></span>
      <span class="hidden-xs">Hi {{user.name}}</span>
      <span class="hidden-xs">|</span>
      <span class="hidden-xs">Settings</span>
    </div>
  </div>

  <div class="progress"></div>
</header>
